<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/estilos.css">
    <title>To Do List App</title>
  </head>
  <body>
    
    <!-- Título da lista de tarefas -->
    <div class="box" id="heading">
      <h1><%= dataCompleta %> </h1>
    </div>
    <!-- Fim do Título da lista de tarefas -->

    <!-- Lista de tarefas -->
    <div class="box">
      <% minhasTarefas.forEach(tarefa => { %>
        <div class="item">
          <input type="checkbox">
          <p><%= tarefa %></p>
        </div>
      <% }) %>
      <!-- Campo para inserir nova tarefa -->
      <form action="/" method="post">
        <input type="text" name="tarefa" placeholder="Nova tarefa" autocomplete="off">
        <button type="submit">+</button>
      </form>
      <!-- Fim do Campo para inserir nova tarefa -->
    </div>
    <!-- Fim da Lista de tarefas -->

  </body>
</html>
