<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List App</title>
  </head>
  <body>
    <!-- Título da lista de tarefas -->
    <% if (dataCompleta === 'Domingo' || dataCompleta === 'Sábado') { %>
      <h1 style="color: purple"><%= dataCompleta %></h1>
    <% } else { %>
      <h1 style="color: dodgerBlue"><%= dataCompleta %></h1>
    <% } %>
    <!-- Fim do Título da lista de tarefas -->

    <!-- Lista de tarefas -->
    <ul>
      <% minhasTarefas.forEach(tarefa => { %>
       <li><%= tarefa %> </li>
      <% }) %>
    </ul>
    <!-- Fim da Lista de tarefas -->

    <!-- Campo para inserir nova tarefa -->
    <form action="/" method="post">
      <input type="text" name="tarefa" id="tarefa">
      <button type="submit">Adicionar</button>
    </form>
    <!-- Fim do Campo para inserir nova tarefa -->

  </body>
</html>
